**/.DS_Store
**/node_modules
**/target
**/test-ledger
**/*.rs.bk
**/.anchor
*/homework12+/SolanaBootcamp/examples_baremetal/example1-helloworld
*/homework12+/SolanaBootcamp/examples_baremetal/example2-counter
*/homework12+/SolanaBootcamp/examples_baremetal/example3-multifunc
*/homework12+/SolanaBootcamp/homeworks_rust